{% extends 'base.html.twig' %}

{% block title %}Blog index!{% endblock %}

{% block body %}
    {% if app.user is null %}
        <a href="{{ path('connect_google_start') }}" class="btn btn-outline-danger">Login with google</a>
        <a href="{{ path('connect_facebook_start') }}" class="btn btn-outline-primary">Login with facebook</a>
    {% else %}
        Logged as: {{ app.user.email }} <a href="{{ path('security_logout') }}" class="btn btn-outline-danger">Logout</a>
    {% endif %}
{% endblock %}
