<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('/build/css/app.css') }}" type="text/css" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {% if ( label == 'success' ) %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ flash }}
                    </div>
                {% elseif ( label == 'danger' ) %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ flash }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
